%h1 Listing addresses

%table
  %thead
    %tr
      %th Firstline
      %th Postcode
      %th
      %th
      %th

  %tbody
    - @addresses.each do |address|
      %tr
        %td= address.firstline
        %td= address.postcode
        %td= link_to 'Show', address
        %td= link_to 'Edit', edit_address_path(address)
        %td= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Address', new_address_path

%div{:style => "width: 800px;"}
  #map{:style => "width: 800px; height: 400px;"}

= render 'map-index'
